body {
  background: rgb(209, 205, 205);
  margin: 0;
  font-family: Cambria;
}
header {
  background: whitesmoke;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* any anchor tag inside the header. A link (react router dom) becomes an anchor tag*/
header a {
  color: black;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
}
/*#9 Tutorial for more of styling; some are included here*/
.home {
  display: grid;
  gap: 100px;
}
.narrative-details {
  background:rgb(233, 223, 223);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px black;
}
.narrative-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: rgb(11, 117, 124)
}
.narrative-details p {
  margin: 0;
}
.narrative-details span {
  position: absolute;
}

/*new narrative form*/
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;

}
form button {
  background: rgb(14, 13, 13);
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: rgb(146, 102, 102);
  border-radius: 4px;
  margin: 20px 0;
}
