/*https://www.creativefabrica.com/product/pastel-mix-background/*/

body {
  background-image: url("./assets/backgroundImg.png");
  margin: 0;
  font-family: Cambria;
}
header {
  background: whitesmoke;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* any anchor tag inside the header. A link (react router dom) becomes an anchor tag*/
header a {
  color: steelblue;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
}
/*#9 Tutorial for more of styling; some are included here*/
.home {
  display: grid;
  gap: 100px;
}
.narrative-details {
  background:cadetblue;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px black;
  
}
.narrative-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: mistyrose;
  
}
.narrative-preview a {
  cursor: pointer;
  color: #02091f;
  text-decoration: none;
}
.narrative-preview {
  background:cadetblue;
  border-radius: 4px;
  margin: 10px auto;
  padding: 10px;
  position: relative;
}

/*new narrative form*/
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;

}
form button {
  background: cornflowerblue;
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: darksalmon;
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid darksalmon;
  box-shadow: 2px 2px 5px black
}
.addButton {
  background-color: mistyrose;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px;
  
}